# CSharp code style settings:
[*.cs]

# CA1707: Identifiers should not contain underscores
# Justification: We use this to separate Given/When/Then for scenarios in tests
dotnet_diagnostic.CA1707.severity = none

# CA1724: Type names should not match namespaces
# Justification: Not needed in the tests
dotnet_diagnostic.CA1724.severity = none

# CA2007: Consider calling ConfigureAwait on the awaited task
# Justification: Not needed in the tests
dotnet_diagnostic.CA2007.severity = none

# RCS1090: Add call to 'ConfigureAwait' (or vice versa).
# Justification: Dup of CA2007
dotnet_diagnostic.RCS1090.severity = none

# VSTHRD200: Use "Async" suffix in names of methods that return an awaitable type.
# Justification: Not needed in test names.
dotnet_diagnostic.VSTHRD200.severity = none

# MA0004: Use Task.ConfigureAwait(false)
# Justitfication: Not needed in tests
dotnet_diagnostic.MA0004.severity = none

# MA0051: Method is too long
# Justitfication: Long methods for tests is fine
dotnet_diagnostic.MA0051.severity = none